// VARIABLES ===============================================
// =========================================================


// COLOR VARIABLES -----------------------------------------
// ---------------------------------------------------------
$blue:                          #48ACF0                         !default;
$red:                           #F4645F                         !default;
$green:                         #83B692                         !default;
$yellow:                        #FEC07A                         !default;

$white:                         #FFFFFF                         !default;
$black:                         #000000                         !default;
$gray-dark:                     #2B2B2B                         !default;
$gray:                          #3C3F41                         !default;
$gray-light:                    #B6B6B6                         !default;


// COLOR DECLARATIONS
$color-background:              $gray                           !default;
$color-background-contrast:     $gray-dark                      !default;
$color-background-web:          #EFF1F3                         !default;  // change to inverse

$color-primary:                 $blue                           !default; // remove
$color-accent:                  $red                            !default; // remove
$color-text-primary:            $white                          !default; // remove
$color-text-secondary:          $gray-light                     !default; // remove
$color-text-inverse:            $gray-dark                      !default; // remove
$color-text-accent:             $blue                           !default; // remove
$color-divider:                 $gray-dark                      !default; // remove

$color-text-primary:            $white;
$color-text-secondary:          $gray-light; // not sure about this color
$color-text-inverse-primary:    $gray-dark;
$color-text-inverse-secondary:  $gray; // not sure about this color
$color-text-accent:             $red;
$color-text-link:               $blue;

// Dividers
// $color-divider:                 mix($gray-medium, $white, 20%);
// $color-divider-inverse:         rgba($white, .1);
//
// $color-hover-overlay:           rgba($gray, .3);
// $color-hover-overlay-inverse:   rgba($gray-dark, .3);
// $color-hover-link:              mix($gray-dark, $color-text-link, 30%);
// $color-hover-link-inverse:      mix($white, $color-text-link, 40%);
// $color-hover-list:              mix($color-text-link, $white, 5%);

$color-state-success:           $green;
$color-state-neutral:           $blue;
$color-state-warning:           $yellow;
$color-state-danger:            $red;
$color-state-null:              $gray;



// FONT VARIABLES ------------------------------------------
// ---------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

// Logo Font                    'AKASHI' https://www.fontsquirrel.com/fonts/Akashi
$font-body:                     'Roboto', sans-serif            !default;
$font-heading:                  'Open Sans', serif              !default;
$font-web-heading:              'Montserrat', serif             !default;
$font-icon:                     'icomoon'                       !default;
$font-size:                     15px                            !default;
$font-weight:                   300                             !default;



// LAYOUT VARIABLES ----------------------------------------
// ---------------------------------------------------------
$spacing:                       20px                            !default;



// FORM VARIABLES ------------------------------------------
// ---------------------------------------------------------
$jcf-color-background:          transparent;
$jcf-color-primary-dark:        $color-text-primary;
$jcf-color-primary:             $color-primary;
$jcf-color-primary-light:       $color-accent;
$jcf-color-accent:              $color-primary;
$jcf-color-text-primary:        $color-text-primary;
$jcf-color-text-secondary:      $color-text-secondary;
$jcf-color-text-inverse:        $color-text-inverse;
$jcf-color-divider:             $color-divider;

$jcf-bodyFont:                  $font-body;
$jcf-headingFont:               $font-heading;
$jcf-font:                      $jcf-bodyFont;
$jcf-font-size:                 $font-size;

$jcf-form-width:                100%;
$jcf-form-padding:              $spacing*2;
