// TOOLTIP STYLES ==========================================
// =========================================================
//@import "~hint.css/src/hint";

[data-toggle="tooltip"],
[class^="hint-"],
[class*=" hint-"] {
  cursor: pointer;
  vertical-align: bottom;
  z-index: 100;
}

.#{$hintPrefix}none {
  &:before,
  &:after {
    opacity: 0 !important;
  }
}

.heading--btns {
  [class^="hint-"],
  [class*=" hint-"] {
    z-index: 150;
  }
}
