// VARIABLES ===============================================
// =========================================================
$jcf-font-path: "../fonts" !default;
$jcf-font-name: "icomoon";

// COLOR VARIABLES -----------------------------------------
// ---------------------------------------------------------
$white: #ffffff !default;
$black: #212121 !default;
$gray: #727272 !default;
$grayLight: #b6b6b6 !default;
$blueDark: #455a64 !default;
$blue: #607d8b !default;
$blueLight: #cfd8dc !default;
$pink: #ff4081 !default;
$green: #7bd581 !default;
$red: #c33c54 !default;

// COLOR DECLARATIONS
$jcf-color-background: $white !default;
$jcf-color-primary-dark: $blueDark !default;
$jcf-color-primary: $blue !default;
$jcf-color-primary-light: $blueLight !default;
$jcf-color-accent: $pink !default;
$jcf-color-text-primary: $black !default;
$jcf-color-text-secondary: $gray !default;
$jcf-color-text-inverse: $white !default;
$jcf-color-divider: $grayLight !default;

// FONT VARIABLES ------------------------------------------
// ---------------------------------------------------------

// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

$jcf-bodyFont: "Open Sans", sans-serif !default;
$jcf-headingFont: "Merriweather", serif !default;

// FONT DECLARATIONS
$jcf-font: $jcf-bodyFont !default;
$jcf-font-size: 16px !default;

// FORM VARIABLES ------------------------------------------
// ---------------------------------------------------------
$jcf-form-width: 400px !default;
$jcf-form-padding: 40px !default;

$jcf-transition-in: all 0.5s !default;
$jcf-transition-out: all 0.2s !default;
