// FOOTER STYLES ===========================================
// =========================================================
footer {
  position: relative;
  background-color: $black;
  @include card(1);
  min-height: 40px !important;
  display: flex;
  flex-direction: column;
}
