// HEADER STYLES ===========================================
// =========================================================
header {
    background-color: $black;
    display: flex;
    
    
    .muted {
        font-size: .8em;
        text-transform: uppercase;
        opacity: .5;
        display: inline-block;
        padding-right: 5px;
    }
}

.logo-container {
    flex: 0 0 265px;
    padding: ($spacing/4) ($spacing/2);

    a {
        width : 100%;
    }
}