// HEADER STYLES ===========================================
// =========================================================
header {
  background-color: $color-background-contrast;
  display: flex;
  justify-content: space-between;
}

// header {
//   background-color: $gray-dark;
//   display: flex;
//
//   .muted {
//     font-size: 0.8em;
//     text-transform: uppercase;
//     opacity: 0.5;
//     display: inline-block;
//     padding-right: 5px;
//   }
// }

.logo {
  flex: 0 0 220px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  a {
    width: 100%;
    display: inline-block;
  }
}
