// MAIN CONTENT STYLES =====================================
// =========================================================
.section-column {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
        border-left: 1px solid $color-divider;
    }
}

// Section Colors
#left {
    background-color: $color-background;
}

#middle {
    @include card(2);
    background-color: mix($color-background, $white, 95%);

    &.full-form {
        background-color: $color-background;
    }
}

#right {
    @include card(2);
    background-color: mix($color-background, $white, 90%);
}

// SECTION HEADER

.section-header {
    flex: 0 0 auto;
    text-align: center;
    background-color: rgba($black, .1);
    border-bottom: 1px solid $color-divider;
    padding: $spacing;
    position: relative;

    &--btn-right {
        position: absolute;
        top: 50%;
        right: $spacing;
        left: auto;
        transform: translateY(-50%);
        z-index: 200;

        .dropdown + .btn,
        .dropdown + .dropdown {
            margin-left: $spacing*.75;
        }

        .dropdown-menu {
            right: 0;
            left: auto;

            > li a {
                display: block;
            }
        }

        .jcf-form-wrap {
            padding: $spacing;
            min-width: 300px;
        }

        .jcf-input-group {
            margin-bottom: 0;
        }

        textarea {
            border: 1px solid $color-background;
        }

        input[type="text"] {
            font-size: $font-size;
            border-bottom: 1px solid $color-background;
            margin-bottom: $spacing;
        }

        .clipboard {
            [class^="icon-"],
            [class*=" icon-"] {
                right: 0;
            }
        }
    }

    &--btn-left {
        @extend .section-header--btn-right;
        right: auto;
        left: $spacing;

        .dropdown-menu {
            list-style: none;
            right: auto;
            left: 0;
        }
    }

    &--secondary {
        text-align: center;
        padding: $spacing;
        position: relative;
    }

    .dropdown-toggle {
        color: rgba($color-text-primary, .5);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-text-accent;
        }

        [class^="icon-"], [class*=" icon-"] {
            margin-right: 5px;
        }
    }

    .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
    }
}

// SECTION CONTENT

.section-content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;

    &-padding {
        padding: $spacing;
    }

    .container {
        padding: $spacing*2;
    }
}

// Scroll Fix for Portal View in Right Panel
#right .vue-portal-target {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > div {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}