.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: translate(100%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translate(-100%, 0);
}

.slide-left-leave-active, .slide-right-leave-active {
  &.child-view {
    position: absolute;
    width: calc(100% - 80px);
  }
}

.child-view {
  transition: all ease .5s;
}

.container {
  overflow-x: hidden;
  position: relative;
}
