// BASE STYLES =============================================
// =========================================================
@import "base/normalize";
@import "base/bootstrap";
@import "base/variables";
@import "base/mixins";
@import "base/transitions/slide";

@import "./../../../node_modules/font-awesome/scss/font-awesome";

// BASICS --------------------------------------------------
// ---------------------------------------------------------
* {
  box-sizing: border-box;
}

#app-layout,
body,
html {
  height: 100%;
}

body {
  background-color: $color-background;
  font-family: $font-body;
  font-weight: $font-weight;
  color: $color-text-primary;
}

img {
  max-width: 100%;
}

// TEXT ----------------------------------------------------
// ---------------------------------------------------------
span {
  display: inline-block;
}

p {
}

hr {
  border-top-color: $color-divider;
}

pre {
  font-family: "Cutive Mono", monospace;
}

small {
  color: $color-text-secondary;
}

.break-word {
  word-break: break-word;
}

.text-clip {
  max-width: 185px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
}

.placeholder {
  font-size: 18px;
  font-family: $font-heading;
  font-weight: 400;
  color: $color-text-secondary;
  letter-spacing: 0.5px;
  margin: $spacing 0;
}

p.info {
  font-size: 1.2em;
}

.small {
  font-size: 11px;
  color: rgba($color-text-primary, 0.7);
  padding-top: $spacing/4;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-error {
    color: $red;
  }

  &-primary {
    color: $blue;
  }

  &-badge {
    font-size: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

// FORMS ---------------------------------------------------
// ---------------------------------------------------------
input {
  background-color: transparent;
}

label {
  font-weight: 400;
  color: mix($blue, $white, 30%);
  letter-spacing: 0.4px;
  display: block;
}

textarea {
  width: 100%;
  background-color: transparent;
  color: $color-text-primary;
  font-family: $font-body;
  border: 1px solid $color-divider;
  padding: $spacing/2;
  resize: none;

  &:focus {
    outline: 3px solid $color-primary;
  }
}

select option {
  color: $color-text-inverse;
}

// HEADINGS ------------------------------------------------
// ---------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgba($color-text-primary, 0.5);
  margin: 0;

  &.primary {
    font-weight: 700;
  }

  &.secondary {
    color: mix($blue, $white, 30%);
  }

  small {
    text-transform: none;
    letter-spacing: 0;
  }
}

.h--label {
  color: rgba($white, 0.9);
  font-weight: 600;
  letter-spacing: 0.8px;
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 2px solid $color-text-secondary;
}

.heading {
  margin-bottom: $spacing;

  &--btns {
    display: flex;
    align-items: center;

    .btn-link {
      font-size: 18px;
      color: $color-text-secondary;
    }
  }
}

.in-workflow {
  .heading--btns {
    align-items: flex-start;
    margin-top: 5px;

    .confirm-dialog {
      left: auto;
      right: -40px;
      transform: none;

      &:after,
      &:before {
        left: auto;
        right: 40px;
        transform: none;
      }
    }
  }
}

// LINKS ---------------------------------------------------
// ---------------------------------------------------------
a {
  display: inline-flex;
  color: $color-primary;

  &:active,
  &:focus,
  &:hover {
    color: mix($white, $blue, 50%);
    text-decoration: none;
    cursor: pointer;
  }
}

.text-link {
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    color: mix($color-primary, $color-text-primary, 50%);
  }
}

// LISTS ---------------------------------------------------
// ---------------------------------------------------------
button {
  border: none;
  background-color: $color-text-inverse;
}

// TABLES --------------------------------------------------
// ---------------------------------------------------------
table {
  width: 100%;
  max-width: 100%;
  margin-top: $spacing;
  border: 1px solid $color-divider;
  background-color: $color-background;

  + table {
    margin-top: $spacing * 2;
  }
}

th {
  text-align: left;
  letter-spacing: 0.5px;
  border-bottom: 1px solid $color-divider;
  color: mix($blue, $white, 30%);
  background-color: rgba($gray-dark, 0.5);
}

td,
th {
  padding: 8px 10px;
}

tr {
  &:nth-child(even) {
    background-color: rgba($gray-dark, 0.3);
  }

  &:hover {
    background-color: rgba($white, 0.1);
    cursor: pointer;
  }
}

.table--light {
  border: none;
  background-color: $white;

  th {
    color: $color-primary;
    background-color: $white;
    text-align: center;
  }

  tr {
    &:nth-child(even) {
      background-color: rgba($gray-light, 0.1);
    }
  }
}
