// FILTER STYLES ===========================================
// =========================================================
.filter {
  flex: 0 0 auto;
  display: flex;
  list-style: none;
  margin: ($spacing/2) $spacing;
  padding: 0px;

  > li > a {
    display: block;
    color: $color-text-primary;
    border: 1px solid $gray;
    margin-right: $spacing;
    padding: ($spacing/4) ($spacing*2) ($spacing/4) ($spacing/2);
    position: relative;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($color-text-primary, .05);
    }

    [class^="icon-"], [class*=" icon-"] {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      padding: 0px ($spacing/3);
      border-left: 1px solid $gray;
      font-size: 20px;
      line-height: 26px;

      &:before {
        color: $color-primary;
      }
    }
  }

  > li > span {
    display: block;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: $spacing;
    padding: ($spacing/4) 0px;
  }

  strong {
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  .dropdown-menu {
    @include card(2);
    min-width: 200px;
    background-color: mix($gray, $black, 50%);

    .select-all {
      position: absolute;
      top: -30px;
      bottom: auto;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacing/4;

      + label {
        margin-top: 30px;
      }
    }
  }

  .jcf-form-wrap {
    padding: $spacing;

    .jcf-input-group {
      margin: 0px;
    }
  }



  .btn-footer {
    border-top: 1px solid $gray;
    margin: $spacing (-$spacing) (-$spacing);
    padding: ($spacing/4) $spacing;
  }
}