// FOOTER STYLES ===========================================
// =========================================================
footer {
    position: relative;
    background-color: $black;
    @include card(1);
    min-height: 40px !important;
    display: flex;
    flex-direction: column;


    .toggle {
        display: block;
        color: $white;
        text-align: right;
        padding: ($spacing/2) $spacing;

        &:hover {
            color: $blue;
            background-color: rgba($gray, .2);
        }

        &:not(.collapsed) {
          background-color: rgba($gray, .6);
        }

        [class^="icon-"], [class*=" icon-"] {
            font-size: 1.2em;
        }
    }
}


// EVENTS COLLAPSE -----------------------------------------
// ---------------------------------------------------------
#collapseEvents {
    border-top: 2px solid rgba($white, .2);

    &.in {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
    }
}

.events-container {
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
}

.event {
    display: flex;
    padding: ($spacing/2) $spacing;
    border-top: 1px solid rgba($white, .1);
}

.event-status {
    flex: 0 0 auto;
    margin-right: $spacing;

    &.event-status-neutral {
        @include status(null);
    }

    &.event-status-success {
        @include status(success);
    }

    &.event-status-error {
        @include status(error);
    }

    &.event-status-warning {
        @include status(warning);
    }
}

.event-name {
    flex: 1 1 auto;

    a:first-child:not(.collapsed) {
        transform: rotate(90deg);
        position: relative;
        left: -4px;
        top: 2px;
    }
}

.event-pile {
    flex: 0 0 15%;
}

.event-site {
    flex: 0 0 15%;
}

.event-none {
    text-align: center;
    padding: $spacing;
}


// ERROR DETAILS
.event-details {
    padding: ($spacing/2) $spacing 0px;
    color: rgba($white, .6);
}