// HEADER STYLES ===========================================
// =========================================================
header {
    background-color: $black;
    display: flex;
    
    
    .muted {
        font-size: .8em;
        text-transform: uppercase;
        opacity: .5;
        display: inline-block;
        padding-right: 5px;
    }
}

.logo-container {
    flex: 0 0 265px;
    padding: ($spacing/4) ($spacing/2);

    a {
        width : 100%;
    }
}


// NAVIGATION ----------------------------------------------
// ---------------------------------------------------------
.nav {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    li {
        font-size: 18px; 
        font-weight: 400;
        
        > a, 
        > span {
            display: block;
            color: rgba($color-text-primary, .7);
            padding: $spacing;
        }
        
        > a:hover,
        > a:focus,
        > a:active {
            color: $blue;
            text-decoration: none;
        }
    }
}

.nav-left {
    flex: 0 0 auto;
}

.nav-right {
    flex: 1 0 auto;
    justify-content: flex-end;
    padding-right: $spacing;
}

.nav-piles {
    li {
        position: relative;
        
        &.arrow {
            margin-right: $spacing*2;
            
            &:before {
                content: '';
                display: inline-block;
                border: $spacing*1.6 solid rgba($grayLight, .3);
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right: none;
                position: absolute;
                top: 1px;
                right: -$spacing*4;
                bottom: 0px;
                width: $spacing*4;
            }
            
            &:after {
                content: '';
                display: inline-block;
                border: $spacing*1.6 solid $black;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right: none;
                position: absolute;
                top: 1px;
                right: (-$spacing*4) + 2px;
                bottom: 0px;
                width: $spacing*4;
            }
        }
    }
}

.search-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-left: $spacing;
}
.search-form {
    display: inline-block;
    flex: 0 1 0px;
    overflow: hidden;
    transition: all 1s ease;
    
    input {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        border: none; 
        border-bottom: 3px solid $color-primary;
        padding-left: $spacing;
        padding-right: $spacing;
        
        &:focus {
            outline: none;
        }
    }
    
    &.open {
        flex: 1 1 auto;
        transition: all 1.5s ease-out;
    }
}