// CONTENT STYLES ==========================================
// =========================================================



// MOVE!!!!
#left {
  flex-basis: 200px;
}




// SITE LIST STYLES ----------------------------------------
// ---------------------------------------------------------
.site > a {
  display: block;
  color: $color-text-primary;
  border-bottom: 1px solid $color-divider;
  padding: $spacing;
  position: relative;

  &.router-link-active {
    color: $color-text-accent;
    background-color: mix($gray, $black, 50%);
  }
}

.site-name {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: $spacing/4;
  padding-right: 1.4em;
}












// SERVER LIST STYLES --------------------------------------
// ---------------------------------------------------------
.server {
  display: block;
  border-bottom: 1px solid $color-divider;
  padding: $spacing;
  position: relative;

  &.router-link-active {
    background-color: mix($gray, $black, 50%);
  }
}

.server-name {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: $spacing/4;

  a {
    color: $color-text-primary;
  }

  .event-status {
    float: right;
    margin-right: 0px;
    margin-left: $spacing;
  }
}

.server-connection {
  height: 1em;
  width: 1em;
  display: inline-block;
  float: right;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: -1.4em;

  &.server-success {
    background-color: $green;
  }

  &.server-error {
    background-color: $red;
  }
}

.server-status {
  margin-top: $spacing/2;
}

.server-progress-container {
  height: $spacing;
  border: 1px solid $color-divider;
  margin: ($spacing/2) 0;
  position: relative;
}

.server-progress-number {
  position: absolute;
  right: 0px;
  font-size: .9em;
  font-weight: 600;
  line-height: $spacing;
  padding: 0px ($spacing/4);
}

.server-progress {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: $color-primary;
}


// SERVER LIST
.group-list {
  .item:last-child {
    border: none;
  }
}

.item {
  display: block;
  border-bottom: 1px solid $color-divider;
  padding: $spacing;
  position: relative;

  &.selected {
    background-color: mix($gray, $black, 50%);
  }
}

.item-name {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: $spacing/4;
  padding-right: 1.4em;
}

a.item:hover {
  cursor: pointer;

  &:before {
    content: '\f105';
    font-family: 'icomoon';
    font-size: 2em;
    line-height: .7em;
    display: inline-block;
    float: right;
  }
}