@import 'normalize';
@import 'bootstrap';
@import 'variables';
@import 'mixins';

@import "../bower/font-awesome/scss/font-awesome";
@import "../bower/jcf-forms/assets/sass/jcf_forms";

@import 'foundation';
@import 'card';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'icons';
@import 'content';
@import 'lists';
@import 'dropdowns';
@import 'groups';
@import 'login';
@import 'wizard';

@import 'forms/structure';
@import 'forms/check_radio';
@import 'forms/select';
@import 'forms/validation';

textarea {
  color : black;
}


#right {
  flex: 0 0 300px;
}


.jcf-form-wrap {
  box-shadow: none;
}
.jcf-form-wrap input[type="text"]:valid + label:before, .jcf-form-wrap input[type="email"]:valid + label:before, .jcf-form-wrap input[type="password"]:valid + label:before {
  display: none;
}