// ALERT STYLES ============================================
// =========================================================
.alert {
    margin: $spacing 0px 0px;
    padding: $spacing/4 $spacing/2;
    border-radius: 3px;

    &:before {
        font-family: 'icomoon';
        float: left;
        padding-right: 10px;
    }

    ul {
        list-style: none;
        margin: 0px 0px 0px $spacing;
        padding: 0px;
    }

    li {
        margin: 0px;
        padding: 0px;
    }

    &-wrap {
        display: inline;

    } 
}

// ALERT STATE STYLES --------------------------------------
// ---------------------------------------------------------
.alert-error {
    @extend .alert;
    background-color: $red;

    &:before {
        content: '\e900';
    }
}

.alert-success {
    @extend .alert;
    background-color: $green;

    &:before {
        content: '\e86c';
    }
}

.alert-warning {
    @extend .alert;
    background-color: $yellow;

    &:before {
        content: '\e900';
    }
}

.alert-info {
    @extend .alert;
    background-color: $blue;

    &:before {
        content: '\e913';
    }
}