.banner {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
  padding: 15px 40px;

  &-info {
    background-color: $color-primary;
  }

  .btn {
    margin-left: 15px;
  }
}
