// BUTTON STYLES ===========================================
// =========================================================
.btn {
  background-color: $jcf-color-text-inverse;
  color: $jcf-color-text-primary !important;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.1s;
  @include card(1);

  &:focus,
  &:hover {
    @include card(2);
    outline: none;
    transform: scale(1.02);
    transition: all 0.1s;
  }

  &:active {
    @include card(1);
    outline: none;
    transform: scale(1);
    transition: all 0.1s;
  }

  + .btn {
    margin-left: 15px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    text-transform: none;
  }

  &-link {
    padding: 0;
    background-color: transparent;

    &:active,
    &:focus,
    &:hover {
      color: $color-text-link;
      outline: none;
    }

    &.btn-link-danger {
      &:active,
      &:focus,
      &:hover {
        color: $red;
        outline: none;
      }
    }
  }
}

span.btn {
  display: inline-block;
}

.btn-primary {
  background-color: $jcf-color-primary;
  color: $jcf-color-text-primary !important;
}

.btn-success {
  background-color: $green;
  color: $jcf-color-text-primary !important;
}

.btn-danger {
  background-color: $red;
  color: $jcf-color-text-primary !important;
}

.btn-small {
  font-size: 14px;
  padding: 5px 10px;

  + .btn-small {
    margin-left: 5px;
  }
}

.btn-large {
  font-size: 18px;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-disabled,
button[disabled="disabled"] {
  background-color: mix($gray, $white, 80%);
  color: mix($gray, $white, 60%) !important;
  pointer-events: none;
}

.btn-text-success {
  color: $green;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:hover {
    color: mix($green, $white, 80%);
  }
}

// BUTTON FOOTER STYLES ------------------------------------
// ---------------------------------------------------------
.btn-footer {
  text-align: center;
  border-top: 1px solid $jcf-color-divider;
  background-color: transparent;
  margin: $spacing 0 0;
  padding: $spacing;
}

// BUTTON CONTAINER STYLES ---------------------------------
// ---------------------------------------------------------
.btn-container {
  padding: $spacing;
}

// TOOLTIPS AROUND BUTTON MARGIN ---------------------------
// ---------------------------------------------------------
.btn--tooltip {
  + .btn,
  + .btn--tooltip {
    margin-left: 15px;
  }
}

.btn {
  + .btn--tooltip {
    margin-left: 15px;
  }
}

.btn--tooltip-small {
  + .btn--tooltip-small,
  + .btn-small {
    margin-left: 5px;
  }
}

.btn-small {
  + .btn--tooltip-small {
    margin-left: 5px;
  }
}

// BUTTON TO TRIGGER SERVER PANEL --------------------------
// ---------------------------------------------------------
.btn--trigger-panel {
  color: mix($blue, $white, 30%);

  &:hover {
    color: $blue;
  }
}

// Inside Tables
.table .btn--trigger-panel {
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: 10px;
    transform: scale(0.85);
  }
}

// Inside Forms
.flyform--group + .btn--trigger-panel {
  margin-left: 20px;
  margin-top: -10px;

  [class^="icon-"],
  [class*=" icon-"] {
    transform: scale(1.2);

    &:after {
      content: "Choose Servers";
      display: inline-block;
      padding-left: 10px;
      font-family: $font-body;
      color: $color-text-primary;
    }

    &:hover:after {
      color: $color-text-accent;
    }
  }
}

// Inside Deployment Steps
.drag-element {
  .btn--trigger-panel {
    display: inline-block;
  }
}

// button Links
@mixin button-link-color($text-color) {
  color: $text-color;

  &:active,
  &:focus,
  &:hover {
    color: mix($text-color, $gray-light, 70%);
    cursor: pointer;
  }
}

@mixin button-link-hover($text-color) {
  color: $color-text-secondary;

  &:active,
  &:focus,
  &:hover {
    color: $text-color;
    cursor: pointer;
  }
}
// Button Links
.btn--link {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  @include button-link-color($color-text-secondary);

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  // shows text color all the time
  &-primary {
    @include button-link-color($color-state-neutral);
  }

  &-success {
    @include button-link-color($color-state-success);
  }

  &-warning {
    @include button-link-color($color-state-warning);
  }

  &-danger {
    @include button-link-color($color-state-danger);
  }

  // Only shows text color on hover
  &-hover {
    &.btn--link-primary {
      @include button-link-hover($color-state-neutral);
    }

    &.btn--link-success {
      @include button-link-hover($color-state-success);
    }

    &.btn--link-warning {
      @include button-link-hover($color-state-warning);
    }

    &.btn--link-danger {
      @include button-link-hover($color-state-danger);
    }
  }
}
