// DROPDOWN STYLES =========================================
// =========================================================
// todo jf - decrease style specificity on dropdowns
.dropdown-menu {
    background-color: $black;
    border-radius: 0px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;

    &.dropup {
        top: auto;
        bottom: 100%;
    }

    &.nowrap {
        white-space: nowrap;
    }
    
    li {
        a,
        > span {
            color: rgba($color-text-primary, .7);
            font-size: 14px;
            padding: ($spacing/2) ($spacing) !important;
            
            [class^="icon-"], [class*=" icon-"] {
                font-size: 1.4em;
                line-height: 19px; 
                position: relative;
                top: 2px;
                right: 5px;
            }
        }  
        
         > a {
            display: block;
        }
                
        a:hover,
        a:focus,
        a:active,
        .selected {
            background-color: $gray;
            color: $blue;
            cursor: pointer;
        }

        [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            min-width: 20px;
            text-align: center;
        }
    }
    
    .dropdown-heading {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .5px;
        border-bottom: 1px solid rgba($color-text-primary, .1);   
        color: $color-text-primary;
        text-align: center;
    }

    .divider {
        background-color: $color-background;
    }
}