// EVENT STYLES ============================================
// =========================================================
.events {
  border-top: 2px solid rgba($white, .2);

  &--drag {

  }

  &--header {
    position: relative;
  }

  &--collapse {
    overflow-y: scroll;
    transition: height .5s;
    height: 30vh;

    &-hidden {
      height: 0px !important;
      transition: height .5s;
      overflow: hidden;
    }
  }

  &--container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 1px solid rgba($white, .1);
  }

  &--open {
    color: $color-text-secondary;
    font-size: .9em;
    margin-left: 15px;
  }


  // EVENTS ITEM ---------------------------------------------
  // ---------------------------------------------------------
  &--item {
    display: flex;
    padding: ($spacing/2) $spacing;
    border-bottom: 1px solid rgba($white, .1);

    // EVENTS ITEM STATUS
    &-status {
      flex: 0 0 auto;
      margin-right: $spacing;


      &-neutral {
        @include status(null);
      }

      &-success {
        @include status(success);
      }

      &-error {
        @include status(error);
      }

      &-warning {
        @include status(warning);
      }
    }

    // EVENTS ITEM FIELDS
    &-name {
      flex: 1 1 auto;
    }

    &-pile {
      flex: 0 0 15%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: $spacing;
    }

    &-commit {
      flex: 0 0 130px;

      // Rollback Text
      .confirm-container {
        margin: 0px 0px 0px 10px;
      }

      .btn-small {
        margin: -5px 0px;
        text-transform: none;
      }
    }

    &-site {
      flex: 0 0 20%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: $spacing;
    }

    &-time {
      flex: 0 0 130px;
      text-align: right;
    }

    // EVENTS ITEM EXPAND / COLLAPSE ARROW
    a:not(.collapsed) .icon-play {
      display: block;
      transform: rotate(90deg);
      position: relative;
      left: -4px;
      top: 2px;
    }
  }
}



// EVENTS ITEM DETAILS -------------------------------------
// ---------------------------------------------------------
.events--item-details {
  margin-left: $spacing;

  // can't do margin-top -- makes collapse jump
  &:before {
    content: '';
    display: block;
    height: $spacing/2;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      padding-bottom: $spacing/4;
    }
  }

  pre {
    margin: 0px 0px $spacing ($spacing *2);
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow: auto;
    color: $yellow;
  }

  .icon-spinner {
    margin-right: $spacing;
  }

  .events--item-error {
    pre {
      color: $red;
    }
  }
}



// DRAGGING STYLES -----------------------------------------
// ---------------------------------------------------------
#drag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  cursor: ns-resize;

  &.collapsed {
    cursor: pointer;
  }
}

#collapseEvents {
  &.dragging {
    transition: all 0s;
  }
}

.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: $white;
  text-align: right;
  padding: ($spacing/2) $spacing;
  pointer-events: none;

  &:hover {
    background-color: rgba($gray, .2);
  }

  &:not(.collapsed) {
    background-color: rgba($gray, .6);
  }

  &-left {
    position: relative;
    pointer-events: all;
  }

  &-right {
    position: relative;
    pointer-events: all;
    cursor: pointer;

    &:hover h4 {
      color: $color-text-accent;
    }

    [class^="icon-"], [class*=" icon-"] {
      transform: rotate(-180deg);
      transition: all .5s ease;
      position: relative;
      top: 2px;
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.2em;
  }

  &.collapsed {
    .toggle-right {
      [class^="icon-"], [class*=" icon-"] {
        transform: rotate(0deg);
        transition: all .5s ease;
        top: 0px;
      }
    }
  }
}

#dragIcon {
  opacity: .5;
  cursor: ns-resize;
}



// XL SCREEN STYLES ----------------------------------------
// ---------------------------------------------------------
@include breakpoint(xl) {
  .events {

    &--collapse {
      height: 100%;
    }

    &--item {
      flex-wrap: wrap;

      &-name {
        flex: 1 1 90%;
        margin-bottom: 5px;
      }

      &-pile {
        flex: 1 1 15%;
        margin-left: 55px;
      }

      &-site {
        flex: 1 1 15%;
      }
    }
  }
}


// FULL SCREEN STYLES --------------------------------------
// ---------------------------------------------------------
.events.full-screen {
  flex: 1 1 auto;

  .events--header {
    #drag,
    #dragIcon,
    .events--open,
    .icon-arrow-up {
      display: none;
    }
  }

  .events--collapse {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

.events.full-screen {


  .filter {
    .filter--item {
      position: relative;
    }
    .dropup {
      bottom: auto;
      left: auto !important;
      right: 10px;

      &:before {
        border-top: none;
        border-bottom: 10px solid rgba(0, 0, 0, 0.4);
        top: -11px;
        bottom: auto;
        left: auto;
        right: 4px;
      }

      &:after {
        border-top: none;
        border-bottom: 10px solid #343536;
        top: -10px;
        left: auto;
        right: 4px;
      }
    }

    .icon-arrow-up:before {
      content: '\F107';
    }
  }
}