// FLEX STYLES =============================================
// =========================================================
.flex {
    display: flex;

    &--grow {
        flex-grow: 1;
    }

    &--shrink {
        flex-shrink: 1;
    }

    &--center {
        align-items: center;
    }

    &--baseline {
        align-items: baseline;
    }

    &--spacing {
        margin-left: $spacing;
    }
}