// FORMS STYLES ============================================
// =========================================================


// FORMS OVERRIDE ------------------------------------------
// ---------------------------------------------------------
table {
  width: 100%;
  max-width: 100%;
  margin-top: $spacing*2;
  border: 1px solid $color-divider;

  + table {
    margin-top: $spacing*2;
  }
}

th {
  text-align: left;
  border-bottom: 1px solid $color-divider;
  color: rgba($color-text-primary, .7);
}

th,
td {
  padding: 8px 10px;
}


tr {
  &:nth-child(even) {
    background-color: rgba($black, .1);
  }
}

.table--action {
  text-align: right;
  white-space: nowrap;

  [class^="icon-"],
  [class*=" icon-"],
  .fa {
    font-size: 1.3em;
  }

  &-delete {
    a {
      color: $red;
    }
  }

  &-deactivate {
    a {
      color: $yellow;
    }
  }

  &-activate {
    a {
      color: $green;
    }
  }

  &-retry {
    a {
      color: $yellow;
    }
  }

  [class^="hint-"] + [class^="hint-"], [class*=" hint-"] + [class*=" hint-"] {
    padding-left: 10px;
  }
}





.jcf-form-wrap {

  option {
    color: black;
  }

  .jcf-form-wrap {
    padding-right: 0px;
    padding-left: 0px;
  }

  .input-checkbox,
  .input-radio{
    margin-bottom: $spacing*2;

    label {
      margin-bottom: $spacing;

      &.disabled {
        opacity: .3;
        cursor: not-allowed;
      }

      small {
        display: block;
        margin-top: 4px;
        margin-left: $spacing/2;
      }
    }
  }
  h3 {
    margin-bottom: $spacing*2;
  }
  .input-question {
    margin-bottom: $spacing;
  }

  input[type="text"] + label,
  input[type="email"] + label,
  input[type="integer"] + label,
  input[type="number"] + label,
  input[type="date"] + label,
  input[type="datetime"] + label,
  input[type="datetime-local"] + label,
  input[type="password"] + label {
    pointer-events: none;
  }

  [class^="hint-"], [class*=" hint-"] {
    position: absolute;
    left: -$spacing;
    cursor: pointer;
    pointer-events: all;

    &:hover {
      color: $color-primary;
    }
  }

  .heading {
    border-top: none;
  }
}


[class*="hint--"] {

  z-index: 1000;

  &:after {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: $font-body;
  }

  &.long:after {
    white-space: initial !important;
    text-align: center;
    width: 250px;
  }

  &.hint--small,
  &.hint--medium,
  &.hint--large {
    &:after {
      text-align: center;
    }
  }
}

#right {
  .jcf-form-wrap {
    padding: 0px $spacing;

    .jcf-input-group {
      margin-bottom: $spacing;
    }

    .btn-footer {
      margin: 0px 0px (-$spacing);
      padding: $spacing/2 0px;
    }
  }

  .btn-footer {
    margin: $spacing*2 0px 0px;
    padding: $spacing;
  }
}



.jcf-form-wrap {
  box-shadow: none;
}
.jcf-form-wrap input[type="text"]:valid + label:before, .jcf-form-wrap input[type="email"]:valid + label:before, .jcf-form-wrap input[type="password"]:valid + label:before {
  display: none;
}
.jcf-form-wrap .input-checkbox .icon:before, .jcf-form-wrap .input-radio .icon:before {
  top: -2px;
}
textarea {
  width: 100%;
  background-color: transparent;
  color: $jcf-color-text-primary;
  font-family: $font-body;
  border: 1px solid $color-divider;
  padding: $spacing/2;
  resize: none;

  &:focus {
    outline: 3px solid $color-primary;
  }
}


.jcf-sub-form {
  border-left: 1px solid $color-divider;
  margin: -30px 0px 0px 30px;
  padding: 30px 0px 0px 20px;
}