// GROUP STYLES ============================================
// =========================================================
.group {
    display: flex;
    flex-wrap: wrap;

    &--item {
        flex: 0 1 380px;
        display: flex;
        flex-direction: column;
        @include card(1);
        border: 1px solid mix($black, $gray, 60%);
        margin: $spacing;

        &-heading  {
            background-color: mix($white, $gray, 10%);
            border-bottom: 1px solid mix($black, $gray, 10%);
            padding: $spacing;
            position: relative;

            &-name {
                white-space: nowrap;
                max-width: 288px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h4 {
                text-transform: none;
            }

            input {
                display: block;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .5px;
                background-color: transparent;
                border: 1px solid $black;
                width: calc(100% - 35px);
                margin: -10px;
                padding: 9px;

                &:focus {
                    outline: 2px solid $color-primary;
                }
            }

            .action-btn {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }

        &-subheading {
            display: flex;
            padding: $spacing;
            border-bottom: 1px solid $color-divider;

            &-info {
                flex: 1 1 auto;
                font-weight: 400;

                &:last-child {
                    text-align: right;
                }
            }
        }
        
        &-content {
            flex: 1 0 100px;
            position: relative;
            padding: $spacing
        }

        &-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin: (-$spacing/2) $spacing/2 (-$spacing/2) (-$spacing/4);


            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }

        .add-pile {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            .icon-layers {
                display: block;
                text-align: center;
                font-size: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // Responsive
        @include breakpoint(md) {
            flex-grow: 1;
        }
    }
}