// ICON STYLES =============================================
// =========================================================
@font-face {
    font-family: 'icomoon';
    src:    url('/assets/img/icons/icomoon.eot?gx80it');
    src:    url('/assets/img/icons/icomoon.eot?gx80it#iefix') format('embedded-opentype'),
            url('/assets/img/icons/icomoon.ttf?gx80it') format('truetype'),
            url('/assets/img/icons/icomoon.woff?gx80it') format('woff'),
            url('/assets/img/icons/icomoon.svg?gx80it#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// SPINNER
.icon-spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: .5em solid rgba($color-text-primary, .2);
  border-radius: 50%;
  border-top-color: $yellow;
  animation: spin .7s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

// EXTRA PADDING
.icon-browser, 
.icon-server,
.icon-play {
    padding-right: 4px;
}


.icon-users:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-web:before {
  content: "\e90d";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-indeterminate_check_box:before {
  content: "\e909";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-layers:before {
  content: "\e53b";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-backup:before {
  content: "\e864";
}
.icon-power:before {
  content: "\e8ac";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-info:before {
  content: "\e913";
}
.icon-pencil:before {
  content: "\e910";
}
.icon-trash:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-slack:before {
  content: "\e916";
}
.icon-refresh:before {
  content: "\e917";
}
.icon-cloud-auto-deploy:before {
  content: "\e918";
}
.icon-refresh2:before {
  content: "\e90b";
}
.icon-archive:before {
  content: "\e90c";
}
.icon-worker:before {
  content: "\e90f";
}
.icon-buoy:before {
  content: "\e90a";
}
.icon-bitbucket:before {
  content: "\e904";
}
.icon-gitlab:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\f106";
}
.icon-arrow-right:before {
  content: "\f105";
}
.icon-arrow-down:before {
  content: "\f107";
}
.icon-arrow-left:before {
  content: "\f104";
}
.icon-browser:before {
  content: "\e902";
}
.icon-server:before {
  content: "\e903";
}
.icon-warning:before {
  content: "\e900";
}
.icon-deploy:before {
  content: "\e919";
}
.icon-spinner8:before {
  content: "\e982";
}
.icon-database:before {
  content: "\e90e";
}
.icon-spinner822:before {
  content: "\e984";
}
.icon-github:before {
  content: "\eab0";
}
.icon-digital-ocean:before {
  content: "\e906";
}
.icon-webhooks:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e901";
}
.icon-clipboard:before {
  content: "\e908";
}