// NOTIFICATION STYLES =====================================
// =========================================================
.fade-enter-active, 
.fade-leave-active {
  transition: opacity .5s
}
.fade-enter, 
.fade-leave-active {
  opacity: 0
}

.notifications {
  position: fixed;
  right: 10px;
  top: 100px;
  width: 350px;
  z-index: 40;
}

.notification {
  @include card(3);
  border-radius: 2px;
  border: 1px solid $color-text-inverse;
  margin-bottom: $spacing/2;
  padding: $spacing/2;

  &.error {
    background-color: $red;
  }

  &.success {
    background-color: $green;
  }

  &-close {
    background-color: transparent;
    font-size: 22px;
    line-height: 14px;
    float: right;
    color: rgba($color-text-primary, .5);

    &:hover {
      color: $color-text-primary;
    }

    &:focus {
      outline: none;
    }
  }

}