// FILTER STYLES ===========================================
// =========================================================
.filter {
  flex: 0 0 auto;
  display: flex;
  list-style: none;
  margin: ($spacing/2) $spacing;
  padding: 0px;

  &--label > * {
    display: block;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: $spacing;
    padding: ($spacing/4) 0px;
  }

  &--item {
    position: initial;

    > a {
      display: block;
      color: $color-text-primary;
      border: 1px solid $gray;
      margin-right: $spacing;
      padding: ($spacing/4) ($spacing*2) ($spacing/4) ($spacing/2);
      position: relative;

      &:hover,
      &:active,
      &:focus {
        background-color: rgba($color-text-primary, .05);
      }

      [class^="icon-"], [class*=" icon-"] {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        padding: 0px ($spacing/3);
        border-left: 1px solid $gray;
        font-size: 20px;
        line-height: 26px;

        &:before {
          color: $color-primary;
        }
      }
    }

    &-selection {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }
  }

  strong {
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  .dropdown-menu {
    @include card(2);
    min-width: 200px;
    background-color: mix($gray, $black, 50%);

    .select-all {
      position: absolute;
      top: -38px;
      bottom: auto;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacing/4;

      + label {
        margin-top: 40px;
      }
    }
  }

  .dropup {
    bottom: calc(100% - 42px);

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      border: 10px solid mix($gray, $black, 50%);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      position: absolute;
      left: 10%;
      transform: translateX(-50%);
      bottom: -10px;
      z-index: 2;
    }

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border: 10px solid rgba(0, 0, 0, .4);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      position: absolute;
      left: 10%;
      transform: translateX(-50%);
      bottom: -11px;
      z-index: 2;
    }
  }

  .jcf-form-wrap {
    padding: $spacing/2;

    .jcf-input-group {
      margin: 0px;
    }

    .input-checkbox label {
      margin-bottom: 12px;
    }
  }

  .btn-footer {
    //TODO:  Decide if we need the margin here
    border-top: 1px solid $gray;
    margin: ($spacing/2) (-$spacing/2) (-$spacing/2);
    padding: ($spacing/2) $spacing;
  }
}