// FILTER STYLES ===========================================
// =========================================================
.filter {
  flex: 0 0 auto;
  display: flex;
  list-style: none;
  background-color: $black;
  border-bottom: 1px solid $gray;
  margin: 0px;
  padding: ($spacing/2) $spacing;
  z-index: 1;

  &--label > * {
    display: block;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: $spacing;
    padding: ($spacing/4) 0px;
  }

  &--item {
    position: initial;

    > a {
      display: block;
      color: $color-text-primary;
      border: 1px solid $gray;
      margin-right: $spacing;
      padding: ($spacing/4) ($spacing * 2) ($spacing/4) ($spacing/2);
      position: relative;

      &:hover,
      &:active,
      &:focus {
        background-color: rgba($color-text-primary, 0.05);
      }

      [class^="icon-"],
      [class*=" icon-"] {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        padding: 0px ($spacing/3);
        border-left: 1px solid $gray;
        font-size: 20px;
        line-height: 26px;

        &:before {
          color: $color-primary;
        }
      }
    }

    &-selection {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }
  }

  strong {
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .dropdown-menu {
    @include card(2);
    min-width: 200px;
    background-color: mix($gray, $black, 50%);
  }

  .dropup {
    bottom: calc(100% - 42px);

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border: 10px solid mix($gray, $black, 50%);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      position: absolute;
      left: 10%;
      transform: translateX(-50%);
      bottom: -10px;
      z-index: 2;
    }

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border: 10px solid rgba(0, 0, 0, 0.4);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      position: absolute;
      left: 10%;
      transform: translateX(-50%);
      bottom: -11px;
      z-index: 2;
    }

    &-form {
      display: flex;
      flex-direction: column;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 70px;
        height: 70px;
        background: linear-gradient(
          to bottom,
          rgba(mix($gray, $black, 50%), 0),
          rgba(mix($gray, $black, 50%), 1)
        );
        pointer-events: none;
      }
    }

    &-scroll {
      flex: 0 1 auto;
      max-height: 300px;
      overflow: auto;
    }

    .flyform--group-checkbox {
      margin: 10px;
      font-size: 14px;

      label {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:last-child {
        margin-bottom: 40px;
      }
    }

    .select-all {
      flex: 0 0 auto;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacing/4;
    }
  }

  .btn-footer {
    flex: 0 0 auto;
    border-top: 1px solid $gray;
    padding: ($spacing/2) $spacing;
  }

  .no-items {
    padding: 20px;
    color: $color-text-secondary;
    font-weight: 700;
    text-align: center;
  }
}

// Change Dropups to Dropdowns at large screens
@include breakpoint(xl) {
  .filter {
    .filter--item {
      position: relative;
    }
    .dropup {
      bottom: auto;
      left: auto !important;
      right: 10px;

      &:before {
        border-top: none;
        border-bottom: 10px solid rgba(0, 0, 0, 0.4);
        top: -11px;
        bottom: auto;
        left: auto;
        right: 4px;
      }

      &:after {
        border-top: none;
        border-bottom: 10px solid #343536;
        top: -10px;
        left: auto;
        right: 4px;
      }
    }

    .icon-arrow-up:before {
      content: "\F107";
    }
  }
}
