// TAB STYLES ==============================================
// =========================================================
.tabs {
    display: flex;
    flex: 1 1 auto;
}

.tab-list {
    flex: 0 1 250px;
    list-style: none;
    border-right: 1px solid $black;
    margin: $spacing 0px;
    padding: $spacing;
}

.tab-content {
    flex: 1 1 auto;
}

.tabs-top {
    flex-direction: column;
}

.tabs-right {
    .tab-list {
        order: 2;
    }
}


//  -----------------------------------------
// ---------------------------------------------------------
.nav-tabs {
    margin-bottom: $spacing*2;
    display: flex;
    
    li { 
        flex: 1 0 auto;
        text-align: center;
        
        a { 
            position: relative;
            border-bottom: 3px solid transparent;
            padding: ($spacing/2) $spacing;
        } 
              
        &.active {
            a {
                border-bottom-color: $color-primary;
            }   
        }
    }
}

.tab-left {
    flex: 1 0 auto;
    display: flex;
    
    .nav-tabs {
        flex: 0 0 230px;
        flex-direction: column;
        border-right: 1px solid $black;
        margin: 0px $spacing*2 0px 0px;
        
        li {
            flex: 0 0 auto;
            
            a {
                text-align: left;
                border-bottom: 1px solid $gray;
                padding: $spacing;
            }
            
            &:last-child a {
                border: none;
            }
            
            &.router-link-active {
                a {
                    color: $color-primary;
                    
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: -14px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-left: 15px solid #46494b;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                    }
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        right: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-left: 15px solid $black;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                    }
                }
            }
        }
    }
}



// HORIZONTAL (wizard) TABS --------------------------------
// ---------------------------------------------------------
.wizard {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;
}

.wizard-item {
  flex: 1 0 150px;

  > a {
    color: $color-text-secondary;
    display: block;
    text-align: center;
    font-size: 1.1em;
    border-bottom: 4px solid rgba($color-divider, .3);
    margin-bottom: $spacing;
    padding-bottom: $spacing;
  }

  &.router-link-active > a {
    color: $color-text-primary;
    font-weight: 400;
    border-color: $color-accent;
  }
}




//  ------------------------------------
// ---------------------------------------------------------

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.swap-enter-active, .swap-leave-active {
  transition: opacity .5s
}
.swap-enter, .swap-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}