// Section Styles =====================
// ====================================
.section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: $spacing*3;
  margin: 60px 0px;

  @include breakpoint(sm) {
    grid-template-columns: 20px 1fr 20px;
    grid-gap: $spacing;
  }

  &--content {
    grid-column-start: 2;
    padding: $spacing*2 0px;
    min-width: 0px;
  }

  &--img {
    grid-column-end: -1;
    grid-column: span 2;
    overflow: hidden;
    border-radius: 6px 0px 0px 6px;
    @include card(4);

    img {
      margin: -2px -4px -1px -2px;
      max-width: none;
      //height: 100%;
      max-height: 650px;

      @include breakpoint(xl) {
        max-height: 720px;
      }
    }
  }
}

// Intro Section
#section--intro {
  &.section {
    grid-template-columns: 1fr 3fr 2fr 1fr;

    @include breakpoint(sm) {
      grid-template-columns: 20px 1fr 20px;
    }
  }

  .section {
    &--content {
      grid-column-start: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--img {
      @include breakpoint(sm) {
        grid-column-start: 2;
        grid-column-end: -1;
        height: 620px;
      }
    }
  }
}
