.slider {
  min-width: 0px;

  &--img {
  }

  &--item {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing*3;

    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }

    &:focus {
      outline: none;
    }
  }
}

// Slick Customization
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: $spacing*3 0px 0px 0px;
  padding: 0px;

  li {
    font-size: 0px;
    color: transparent;

    button {
      background-color: transparent;
      padding: $spacing $spacing/2.5;

      &:after {
        content: "";
        display: block;
        height: 6px;
        width: 40px;
        border-radius: 6px;
        background-color: rgba($color-text-secondary, 0.2);
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;

        &:after {
          background-color: rgba($color-text-secondary, 0.4);
          cursor: pointer;
        }
      }
    }

    &.slick-active {
      button:after {
        background-color: rgba($color-text-secondary, 0.7);
      }
    }
  }
}
