// HEADER STYLES ===========================================
// =========================================================
header {
  display: flex;
  background-color: $color-background-nav;

  .muted {
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.5;
    display: inline-block;
    padding-right: 5px;
  }
}

.header {
  &--logo {
    flex: 0 0 220px;
    display: flex;
    align-items: center;
    padding-left: $spacing;
  }
}
