// MAIN CONTENT STYLES =====================================
// =========================================================

#left {
  background-color: $color-background-dark;

  .column--header {
    background-color: mix($black, $color-background-dark, 25%);
  }
}

#middle {
  @include card(2);
  background-color: $color-background;

  .column--header {
    background-color: mix($black, $color-background, 25%);
  }

  &.fullScreen {
    background-color: $color-background-dark;
  }
}

#right {
  @include card(2);
  background-color: $color-background-light;

  .column--header {
    background-color: mix($black, $color-background-light, 25%);
  }
}
