//@import "layout";
@import "header"; //cleanup
//@import "footer"; //cleanup
//@import "main"; //cleanup

#app {
  display: grid;
  grid-template-areas: "banner banner banner" "header header header" "left middle right" "footer footer footer";
  grid-template-columns: 275px 1fr 275px;
  grid-template-rows: min-content min-content 1fr auto;

  // Allows grid to always stay at 100vh and 100vw
  > * {
    min-width: 0;
    min-height: 0;
  }
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  overflow: auto;
}

#left {
  grid-area: left;
  overflow: auto;
}

#middle {
  grid-area: middle;
  overflow: auto;
}

#right {
  grid-area: right;
  overflow: auto;
}

.banner--container {
  grid-area: banner;
}
