// Hero Section =======================
// ====================================
.cover {
    max-width: 1200px;
    min-height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;

    &--img {
        flex: 0 1 65%;
        margin: 0px -100px -100px;
        opacity: .7;
        z-index: -1;

        @include breakpoint(sm) {
            display: none;
        }
    }

    &--content {
        flex: 0 1 500px;
        margin-right: 10%;

        @include breakpoint(sm) {
            margin: 40px 10%;
        }
    }

    &--logo {
        border-bottom: 1px solid $color-divider;
        margin: 0 0 $spacing*1.5;
        padding-bottom: $spacing*1.5;
        text-align: center;

        img {
            max-width: 250px;
        }
    }




    //&--content {
    //    padding-right: 10%;
    //    width: 50%;
    //    text-align: center;
    //    font-size: 1.2em;
    //}

    //@include breakpoint(lg) {
    //    &--content {
    //        background-color: rgba($white, .8);
    //        position: relative;
    //
    //        &:after {
    //            content: '';
    //            position: absolute;
    //            top: 0;
    //            right: 100%;
    //            bottom: 0;
    //            width: 100px;
    //            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 100%);
    //        }
    //    }
    //}
    //
    //@include breakpoint(md) {
    //    position: relative;
    //
    //    &--content {
    //        width: 80%;
    //        margin: 0 auto;
    //        padding: 0 20px;
    //        background-color: transparent;
    //        position: initial;
    //        z-index: 3;
    //
    //        &:after {
    //            right: 0;
    //            left: 0;
    //            width: auto;
    //            background: none;
    //            background-color: rgba($white, .8);
    //            z-index: -1;
    //        }
    //    }
    //}
    //@include breakpoint(sm) {
    //    //background-size: cover;
    //    //background-position: center center;
    //    //
    //    //&--content {
    //    //  width: 100%;
    //    //}
    //}
}

// HERO SECTION
//#section--hero {
//    padding: 30px 0;
//    background-image: url('/assets//img/Boat_Dock.svg');
//    background-size: 55%;
//
//    @include breakpoint(lg) {
//        background-size: contain;
//    }
//}