// Main Layout ========================
// ====================================
body {
  display: grid !important;
  grid-template-rows: min-content auto;
}
header {
  display: flex;
  border-bottom: 1px solid $color-divider;
  justify-content: space-between;
  background-color: $white;
  z-index: 99999;

  @include breakpoint(sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.moz {
  width: 100%;
  height: 100%;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}
