// Main Layout ========================
// ====================================
header {
    flex: 0 0 auto;
    border-bottom: 1px solid $color-divider;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    z-index: 99999;
    position: sticky;
    top: 0px;

    @include breakpoint(sm) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

#main {
    flex: 1 0 auto;
    -webkit-overflow-scrolling: touch;
}
