.maintenance {
  #main {
    background-color: mix($gray, $white, 95%);
    color: $white;
  }

  &#content:before {
    display: none;
  }

  &--container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0px $spacing;
  }

  &--img {
    max-width: 460px;
    margin: 20px auto;
    padding: 0px 30px;
  }

  &--text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-web-heading;
    margin-top: 40px;

    strong {
      text-transform: uppercase;
    }

    p {
      margin: 10px 0px;
    }

    .large {
      color: rgba($gray-light, 0.6);
      font-size: 40px;
      font-weight: 800;
      font-family: $font-web-heading;
      letter-spacing: 8px;
      text-shadow: -3px 3px 3px rgba($gray-dark, 0.8);
      margin-top: 30px;
    }
  }

  &--links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px 20px;
      border-top: 2px solid transparent;

      + a {
        margin-left: 20px;
      }

      &:hover {
        border-top-color: $color-text-accent;
        color: mix($color-text-link, $white, 50%);
      }
    }
  }

  .logo {
    text-align: center;
    border-top: 1px solid rgba($gray-light, 0.3);
    margin: 30px -20px 0px;
    padding: 30px 0px 30px;

    img {
      max-width: 250px;
    }
  }
}

#migrate {
}
