// Main Navigation ====================
// ====================================
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;

  &--left {
    max-height: 60px;
  }

  &--right {
    justify-content: flex-end;

    @include breakpoint(sm) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &--logo {
    width: 250px;
    margin-left: $spacing/2;
    padding: 0 $spacing;

    @include breakpoint(sm) {
      padding: $spacing/2;
    }
  }

  &--link {
    color: $color-text-inverse-primary;
    font-size: 14px;
    font-weight: 400;
    font-family: $font-heading;
    text-transform: uppercase;
    padding: $spacing $spacing*1.5;
    position: relative;

    &:active,
    &:focus,
    &:hover {
      color: $color-text-link;

      &:after {
        content: "";
        background-color: $color-text-link;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
      }

      @include breakpoint(sm) {
        &:after {
          display: none;
        }
      }
    }

    &-highlight {
      color: $color-text-link;
      font-weight: 600;

      &:active,
      &:focus,
      &:hover {
        color: $color-text-link;
      }
    }

    &-block {
      background-color: $color-text-link;
      color: $color-text-primary;
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        color: $color-text-primary;
        background-color: mix($color-text-link, $white, 80%);
      }
    }

    @include breakpoint(sm) {
      padding: 15px 18px;
    }
  }
}
