// FORM VALIDATION STYLES ==================================
// =========================================================
$flyform-background: transparent;
$flyform-color: $color-text-primary;
$flyform-font-size: 20px;
$flyform-spacing: $spacing;
$flyform-color-divider: $color-divider;
$flyform-transition: all 0.5s;

// MAIN FORM STRUCTURE -------------------------------------
// ---------------------------------------------------------
.flyform {
  background-color: $flyform-background;
  margin: 0 auto $flyform-spacing * 2;

  &--heading {
    background-color: $color-primary;
    color: $color-text-primary;
    border-bottom: 1px solid $flyform-color-divider;
    padding: $flyform-spacing;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-text-primary;
      margin: 0;
    }

    p {
      font-size: 0.9em;
      margin: $flyform-spacing/2 0 0;
      padding: 0;
      color: rgba($color-text-primary, 0.8);
    }

    &-sticky {
      background-color: mix($color-background, $white, 95%);
      position: sticky;
      top: -40px;
      z-index: 110;
    }
  }

  &--content {
    padding: 0 $flyform-spacing;

    + .flyform--footer {
      margin-top: $spacing * 2;
    }
  }

  &--footer {
    text-align: center;
    border-top: 1px solid $flyform-color-divider;
    margin-top: $spacing * 2;
    padding: $flyform-spacing;

    &-btns {
      text-align: center;

      + .flyform--footer-links {
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: $flyform-spacing;
      }
    }
  }

  // INPUT ICON STYLES ----------------------------------------
  &--input-icon-right {
    position: absolute;
    top: $flyform-spacing * 1.5;
    right: 10px;
    font-size: 1.5em;

    a:active,
    a:focus,
    a:hover {
      outline: none;
    }
  }

  // INPUT TEXT STYLES ----------------------------------------
  &--input-text {
    font-size: 0.9em;
    color: rgba($color-text-primary, 0.7);
    letter-spacing: 0.4px;
    margin: (-$flyform-spacing/4) 0 $flyform-spacing/2;
    padding: 0 ($flyform-spacing/2 + 1px);
  }

  // SINGLE-LINE FORM & BUTTON -------------------------------
  &--submit {
    display: flex;
    align-items: baseline;

    .flyform--group {
      flex-grow: 1;

      + .flyform--group {
        margin-left: $spacing;
      }
    }

    .flyform--footer-btns {
      white-space: nowrap;
      margin-left: $spacing;
    }
  }
}

// FORM GROUP STRUCTURE -----------------------------------
// --------------------------------------------------------
.flyform--group {
  margin: $flyform-spacing 0;
  padding: $flyform-spacing * 1.2 0 0;
  position: relative;

  + .flyform--footer {
    margin-top: $spacing * 2;
  }

  + [class^="grid-"],
  + [class*=" grid-"] {
    margin-top: -$spacing;
  }

  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: 400;
    text-align: left;
    color: mix($blue, $white, 30%);
    letter-spacing: 0.4px;
    pointer-events: none;
    transition: $flyform-transition;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
      background-color: $color-primary;
      transition: $flyform-transition;
    }
  }

  input {
    width: 100%;
    background-color: $flyform-background;
    color: $flyform-color;
    font-size: $flyform-font-size;
    border: 1px solid $flyform-color-divider;
    border-top: none;
    padding: $flyform-spacing/4 $flyform-spacing/2;

    &:focus {
      box-shadow: none;
      outline: none;

      + label {
        color: $color-primary;

        &:after {
          width: 100%;
          transition: $flyform-transition;
        }
      }
    }

    // placeholder required for float label to work
    &:placeholder-shown:not(:focus) + * {
      font-size: $flyform-font-size;
      top: $flyform-spacing * 1.5 - 1px;
      padding-left: $flyform-spacing/2;
      font-weight: 300;
      letter-spacing: 0;
      color: mix($white, $black, 60%);
      transition: $flyform-transition;

      // when there is an info icon before the input label
      .flyform--group-iconlabel {
        padding-left: 0;
        transition: $flyform-transition;
      }
    }
  }

  &-nomargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  // PREFIXED INPUTS ----------------------------------------
  &-prefix {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid $flyform-color-divider;
    white-space: nowrap;

    &-label {
      flex: 0 0 auto;
      color: rgba($color-text-primary, 0.6);
      font-weight: 400;
      letter-spacing: 0.5px;
      padding-right: $spacing/2;
    }

    input {
      order: 2;
      border-bottom: none;

      + label + .flyform--group-prefix-label {
        flex: 0 0 auto;
        min-width: 1px;
        text-align: right;
        opacity: 1;
        padding-right: $spacing/2;
        transition: $flyform-transition;
      }

      &:placeholder-shown:not(:focus) {
        + label + .flyform--group-prefix-label {
          flex: 0 1 0;
          min-width: 0;
          padding: 0;
          overflow: hidden;
          opacity: 0;
          transition: $flyform-transition;
        }
      }
    }
  }

  // PREFIXED INPUTS ----------------------------------------
  &-postfix {
    @extend .flyform--group-prefix;

    input {
      order: inherit;
    }

    &-label,
    .flyform--group-prefix-label {
      padding: 0 $spacing/2;
    }
  }

  // INPUT HELP STYLES ----------------------------------------
  [class*=" hint-"]:not(.flyform--btn-right):not(.tooltip-in-form),
  [class^="hint-"]:not(.flyform--btn-right):not(.tooltip-in-form) {
    position: absolute;
    top: 0;

    + input + label {
      padding-left: $flyform-spacing;
    }
  }

  // when there is an info icon before the input label
  &-iconlabel {
    padding-left: $flyform-spacing;
    transition: $flyform-transition;
  }

  // buttons near inputs
  .flyform--btn-right {
    padding-top: 6px;
    padding-left: $spacing/2;
  }
}

// SELECT BOX STYLES ---------------------------------------
// ---------------------------------------------------------
.flyform--group {
  select {
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid $flyform-color-divider;
    border-radius: 0;
    font-size: $flyform-font-size;
    padding: ($flyform-spacing/4) 50px ($flyform-spacing/4) ($flyform-spacing/2);
    width: 100%;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($color-text-secondary, 0.05);
    }

    &[multiple="multiple"] {
      height: 125px;
      padding: $spacing/2 0;

      optgroup {
        font-size: 14px;
        padding: 0 $spacing/4;
      }

      option {
        font-weight: 300;
        margin-left: (-$spacing/2);
        margin-right: (-$spacing/2);
        padding-left: $spacing/2;
        padding-left: $spacing/2;

        &:checked {
          background-color: $red;
        }

        &:first-child {
          margin-top: 5px;
        }
      }
    }
  }

  option {
    font-size: 16px;
  }

  &-select {
    position: relative;

    &:before {
      content: "\f107";
      font-family: "icomoon";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-left: 1px solid $flyform-color-divider;
      color: $color-primary;
      display: flex;
      align-items: center;
      font-size: 2em;
      padding: 0 ($flyform-spacing/2);
      pointer-events: none;
    }
  }
}

// FOOTER STYLES FOR MAIN TABBED CONTAINER
.tab-content {
  .flyform--footer {
    margin-left: -$spacing * 2;
    margin-right: -$spacing * 2;
  }
}

// FORMS INSIDE OF DROPDOWNS ------------------------------
// --------------------------------------------------------
.dropdown {
  .flyform--group {
    input,
    textarea {
      border-color: $color-background;
    }
  }

  .btn:not(.btn-success):not(.btn-danger):not(.btn-primary):not(.dropdown-toggle) {
    background-color: $color-background;
  }

  .confirm--btns > .btn:not(.btn-success):not(.btn-danger) {
    background-color: $color-text-inverse;
  }
}

// CHECKBOX STYLES =========================================
// =========================================================
.flyform--group {
  &-checkbox,
  &-radio {
    font-size: 16px;
    margin: $flyform-spacing 0;

    label {
      position: relative;
      display: block;
      padding-left: $flyform-spacing * 1.5;
      cursor: pointer;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        .icon:before {
          content: "\e835";
        }
      }
    }

    input {
      width: auto;
      opacity: 0;
      position: absolute;

      &:checked {
        + .icon:before {
          content: "";
          color: $color-primary;
        }
      }
    }

    .icon {
      display: inline;

      &:before {
        content: "";
        font-family: icomoon;
        position: absolute;
        left: 4px;
        top: -3px;
        font-size: 1.2em;
        color: $color-text-secondary;
      }
    }

    [class^="hint-"],
    [class*=" hint-"] {
      position: relative;
      top: -3px;
      font-size: 0.83em;
      margin-left: $spacing/4;
    }
  }

  &-checkbox {
    .icon:before {
      content: "\e835";
    }

    input:checked + .icon:before {
      content: "\e834";
    }
  }

  &-radio {
    .icon:before {
      content: "\e836";
    }

    input:checked + .icon:before {
      content: "\e837";
    }
  }
}

// SUBFORM STYLES ==========================================
// =========================================================
.flyform--subform {
  margin-left: $spacing * 1.5;

  .flyform--group {
    margin: 10px 0;
  }

  label {
    font-size: 13px;
  }

  input {
    font-size: 13px;
  }

  input:placeholder-shown:not(:focus) + * {
    font-size: 13px;
  }
}

.flyform--group-checkbox + .flyform--subform {
  margin-top: -$spacing/2;
}

[class^="grid-"],
[class*=" grid-"] {
  + .flyform--group {
    margin-top: 0;
  }
}

// FORM ACTION STYLES ======================================
// =========================================================
.action-right {
  display: flex;
  align-items: center;

  label {
    flex: 1 1 auto;
  }
}

.flyform--group-actions {
  flex: 0 0 106px;
  text-align: center;
  margin-left: 20px;
}
